<div class="container-div">
    <h1>Nieuwe cursussen toevoegen</h1>
    <form [formGroup]="courseCreateForm" (ngSubmit)="submitCourse()">
        <div class="form-group">
            <input type="file" class="form-control-file" name="courseFiles" id="courseFiles" formControlName="files" accept=".txt" [multiple]="false" (change)="onFileChange($event)">
            <small *ngIf="triedToInputWrongFile" class="text-danger">Kies een geldig .txt bestand!</small>
        </div>
        <div class="form-group">
            <label for="startDate">Startdatum: </label>
            <input type="date" name="startDate" id="startDate" formControlName="startDate">
        </div>
        <div class="form-group">
            <label for="endDate">Einddatum: </label>
            <input type="date" name="endDate" id="endDate" formControlName="endDate">
        </div>
    
        <button class="btn btn-primary" [disabled]="!courseCreateForm.valid">Invoeren</button>
    </form>
    
    <p *ngIf="submitResult" class="text-success">{{submitResult}}</p>
    <p *ngIf="submitError" class="text-danger">{{submitError}}</p>
</div>
