<form [formGroup]="courseCreateForm" (ngSubmit)="submitCourse()">
    <div>
        <input type="file" class="form-control-file" name="courseFiles" id="courseFiles" formControlName="files" accept=".txt" [multiple]="false" (change)="onFileChange($event)">
        <small *ngIf="triedToInputWrongFile" class="text-danger">Kies een geldig .txt bestand!</small>
    </div>
    <div>
        <label for="startDate">Startdatum: </label>
        <input type="date" name="startDate" id="startDate" formControlName="startDate">
    </div>
    <div>
        <label for="endDate">Einddatum: </label>
        <input type="date" name="endDate" id="endDate" formControlName="endDate">
    </div>

    <button class="btn btn-primary" [disabled]="!courseCreateForm.valid">Invoeren</button>
</form>

<p *ngIf="submitResult">{{submitResult}}</p>
<p *ngIf="submitError" class="text-danger">{{submitError}}</p>