<div>
    <h4>Cursist toevoegen</h4>

    <form [formGroup]="newStudentForm" (submit)="submitStudent()">
        <div class="form-group">
            <label for="firstName">Voornaam:</label>
            <input class="form-control" type="text" id="firstName" name="firstName" formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Achternaam:</label>
            <input class="form-control" type="text" id="lastName" name="lastName" formControlName="lastName">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!newStudentForm.valid" id="submitButton">Voeg toe</button>
        <button class="btn btn-danger" type="reset" *ngIf="newStudentForm.dirty" id="resetButton">Annuleer</button>
    </form>
    
    <div *ngIf="submitResult" >
        <p class="text-success">{{submitResult}}</p>
    </div>
    
    <p *ngIf="submitError" class="text-danger">{{submitError}}</p>
</div>
